.post{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 20px;
    margin-bottom: 20px;
}
.post img{
    width: 50px;
    height: 50px;
    border-radius: 50px;
}
.post p{
    margin-left: 15px;
}