.bio{
    margin-left: 20px;
    background-color: inherit;
}
.bioName{
    color: black;
    background-color: inherit;
}
.bioList{
    display: flex;
    background-color: inherit;
}
bioList ul:first-child{
    color: gray;
}
.bioList ul:last-child{
    color: cornflowerblue;
    margin-left: 20px;
}
.bioList ul{
    list-style: none;
    padding: 0;
    background-color: inherit;
}
.bioList ul li {
    background-color: inherit;
}