.dialog {
    display: flex;
    padding: 10px;
    background-color: snow;
}

.dialog img {
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

.dialog div {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    text-decoration: none;
    background-color: inherit;
}

.dialog div label {
    font-size: 20px;
    background-color: inherit;
}

.dialog div text {
    font-size: 15px;
    background-color: inherit;
    word-wrap: break-word;
    width: 170px;
}

.activeDialog{
    background-color: lightsteelblue;
    color: whitesmoke;
}