.dialogList {
    background-color: inherit;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-content: stretch;
}
.dialogList a {
    text-decoration: none;
    color: inherit;
    border-bottom: 1px solid lightsteelblue;
}

.dialogList a:last-child {}

.activeLink {
    background-color: lightsteelblue;
}