.header{
    display: grid;
    grid-area: h;
    background-color: cornflowerblue;
    grid-template-columns: 1fr 4fr;
    grid-template-areas:"hl hlo";
}
.logo{
    grid-area: hl;
    height: 100%;
    margin-left: 50%;
    background-color: inherit;
}
.logOut{
    background-color: inherit;
    grid-area: hlo;
    margin-left: 90%;
    color: aliceblue;
    line-height: 60px;
}
