.header {
    display: flex;
    justify-content: space-between;
    grid-area: h;
    background-color: cornflowerblue;
    line-height: 60px;
    position: fixed;
    width: 100%;
}

.logo {
    height: 60px;
    background-color: inherit;
    margin-left: 120px;
}

.logOut {
    background-color: inherit;
    color: aliceblue;
    margin-right: 60px;
}
