.navigation {
    grid-area: n;
    margin-top: 0;
    color: cornflowerblue;
    position: fixed;
    top: 60px;
    left: 140px;
}

.navigation nav {
    display: flex;
    flex-direction: column;
}

.navigation nav a {
    display: block;
    padding-right: 95px;
    height: 35px;
    line-height: 35px;
    padding-left: 5px;
    text-decoration: none;
}

.navigation nav a:hover {
    background-color: lightsteelblue;
    color: whitesmoke;
}

