*{
    background-color: whitesmoke;
}
.app-wrapper{
    margin: 0 auto;
    width: 100%;
    display: grid;
    grid-template-areas:
    "h h"
    "n p";
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 7fr;
    grid-gap: 0px;
}

.header{
    display: grid;
    grid-area: h;
    background-color: cornflowerblue;
    grid-template-columns: 1fr 4fr;
    grid-template-areas:"hl hlo";
}
.header-logo{
    grid-area: hl;
    height: 100%;
    margin-left: 50%;
    background-color: inherit;
}
.header-log-out{
    background-color: inherit;
    grid-area: hlo;
    margin-left: 90%;
    color: aliceblue;
    line-height: 60px;
}

.navigation{
    grid-area: n;
    margin-left: 50%;
}
.navigation a{
    height: 30px;
    display: block;
    color: cornflowerblue;
    padding-left: 5px;
    line-height: 30px;
}
.navigation a:hover{
    background-color: lightsteelblue;
    color: whitesmoke;
}

.profile{
    padding-right: 5%;
    grid-area: p;
    border-left : 2px solid lightsteelblue;
}

.profile-header{
    background-color: lightblue;
    height: 30px;
    line-height: 30px;
}
.profile-header-status{
    margin-left: 80%;
    background-color: inherit;
    color: gray;
}
.profile-header-name{
    background-color: inherit;
    margin-left: 10px;
    color: darkblue;
}

.profile-personal-info{
    padding: 0px 10px;
    display: flex;
    margin-top: 10px;
}

.profile-photo{
    max-width: 300px;
    max-height: 300px;
}
.profile-bio{
    margin-left: 20px;
}
.profile-bio-name{
    color: black;
}
.profile-bio-list{
    display: flex;
}
.profile-bio-list ul:first-child{
    color: gray;
    margin-right: 10px;
}
.profile-bio-list ul:last-child{
    color: cornflowerblue;
}
.profile-bio-list ul{
    list-style: none;
    padding: 0;
}
.profile-bio-photo{
    display: flex;
}
.profile-bio-photo img{
    width:24%;
    margin-right: 1%;
}
.profile-bio-photo img:last-child{
    margin-right: 0;
}

.profile-posts{
    margin-top: 20px;
    margin-left: 10px;
}
